player-connection-mode=Listen
player-connection-guid=1668431942
player-connection-debug=0
player-connection-project-name=Prototype
player-connection-ip=192.168.100.146
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=071c6758f04e4a6b800dee15062d7f17
